// _button.scss
%button-style {
    color: #fff;
    background-color: #3182ce;
    border-radius: 0.25rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: all 0.2s;
  
    &:hover {
      background-color: #2b6cb0;
    }
}
