@import "bookCard";
@import "button";
@import "colors";
@import "searchBar";
@import "h1";
@import "FavoritesAndWishlistInfo";


body {
  background-color: rgba(231, 231, 219, 0.5);
  margin: 0;
}


.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-container {
  width: 50%; // Adjust the width to 50%
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; // Center the container
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  input[type='text'] {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #e2e8f0;
    border-radius: 0.25rem;

    &:focus {
      outline: none;
      border-color: #a0aec0;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }

    &::placeholder {
      color: #a0aec0;
    }
  }
}
